# common
pip
pyinstaller
setuptools
wheel

# project specific
collections
csv
cx_Oracle
descartes
fiona
gdal
geopandas
geopy
math
matplotlib
numpy
pandas
psycopg2
pyproj
rtree
scikit-learn
scipy
shapely
sys
time
